{% extends "base.html" %}
{% block title %}BART{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3"><h1 class="display-4 fw-bold lh-1 text-body-emphasis">Hi, I’m Bartłomiej 👋</h1>
        <p class="lead">I’m passionate about technology, fitness, and personal growth. Over the past few years, I’ve been developing my skills in Python, backend development, and problem-solving while also pursuing my interest in calisthenics, running, and health.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a href="{{url_for('projects')}}" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Check it!</a>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="https://avatars.githubusercontent.com/u/159695537?v=4" alt="" width="400">
    </div>
{% endblock %}
