{% extends "base.html" %}
{% block title %}BART{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="col-lg-7 p-3 p-lg-5 pt-lg-3"><h1 class="display-4 fw-bold lh-1 text-body-emphasis">Welcome to my website</h1>
    <p class="lead">Curious what can achieve one college dropout in a matter of a few years? I'm leaving the answer for you. Have a look at my projects.</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold ">Click Me!</button>
    </div>
</div>
{% endblock %}
